@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--farbaA: #78679C;
	--farbaB: #E7DBFF;
	--farbaC: #C4B2E9;
	--farbaD: #9c9857;
	--farbaE: #fff996;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.navbar-custom{
	background-color: var(--farbaA);
	color: var(--farbaD);
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--farbaB);
	margin: 20px;
}
.hra-telo{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--farbaB);
	margin: 20px;
}

h1{
	font-size: 20px;
	color: var(--farbaD);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}



/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--farbaA);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.btn{
	cursor: pointer;
	padding: 5px 15px;
	background: var(--farbaB);
	color: var(--farbaA);
	border: 0;
	font-size: 17px;
}

.join-main {
	padding: 30px 40px;
	background: var(--farbaC);
}


.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

.counter{
	text-align: center;
	align-items: center;
	font-size: 15px;
}

.otazka{
	position: center;
	height: 500pt;
	width: 250pt;
	border: 6px solid black;
	border-radius: .5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2vw;
	background-color: plum;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
}
.counter{
	justify-content: center;
	align-items: center;
	font-size: 20px;
	margin-left: auto;
	text-align: center;
	margin-right: auto;
	margin-bottom: 2rem;
	color: var(--farbaD);
}
.bocnyPanel{
	border: 1px solid #78679C;
	border-radius: .5rem;
}
.bocnyPanel p{
	margin-bottom: 5px;
}
.bocnyPanel-nadpis{
	color: var(--farbaD);
	font-size: 20px;
}
.aktivnyUser{
	background-color: green;
}
.kopka1Btn{
	position: center;
	width: inherit;
	height: inherit;
}
.dropdown-item{
	margin-right: auto;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}





/*Karty a ich animacie su od:
Copyright (c) 2021 by Jon Beebe https://codepen.io/somethingkindawierd/pen/Flbhv
*/


.is-scattered .karta:nth-of-type(9n+1) {
    transform-origin: 58% 59%;
    transform: rotateZ(4deg) translate3d(0, 0, 0);
}
.is-scattered .karta:nth-of-type(9n+2) {
    transform-origin: 49% 34%;
    transform: rotateZ(-4deg) translate3d(0, 0, 0);
}
.is-scattered .karta:nth-of-type(9n+3) {
    transform-origin: 52% 88%;
    transform: rotateZ(3deg) translate3d(0, 0, 0);
}
.is-scattered .karta:nth-of-type(9n+4) {
    transform-origin: 80% -4%;
    transform: rotateZ(5deg) translate3d(0, 0, 0);
}
.is-scattered .karta:nth-of-type(9n+5) {
    transform-origin: -51% -64%;
    transform: rotateZ(-2deg) translate3d(0, 0, 0);
}
.is-scattered .karta:nth-of-type(9n+6) {
    transform-origin: 23% -63%;
    transform: rotateZ(1deg) translate3d(0, 0, 0);
}
.is-scattered .karta:nth-of-type(9n+7) {
    transform-origin: 75% -94%;
    transform: rotateZ(5deg) translate3d(0, 0, 0);
}
.is-scattered .karta:nth-of-type(9n+8) {
    transform-origin: 75% -3%;
    transform: rotateZ(4deg) translate3d(0, 0, 0);
}
.is-scattered .karta:nth-of-type(9n+9) {
    transform-origin: 34% -24%;
    transform: rotateZ(-2deg) translate3d(0, 0, 0);
}

.is-offscreen--r {
    transform: translate(1000px, 0px) rotateZ(30deg) !important;
}

.is-offscreen--l {
    transform: translate(-1000px, 0px) rotateZ(-20deg) !important;
}



.deck {
    position: relative;
		height: 500pt;
		width: 250pt;
		margin: auto;
}

.karta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
	background-color: var(--farbaE);
	font-size: 20px;
}

.body-message {
    color: #999;
    text-align: center;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}

.karta-header {
    color: #333;
    font-size: 1.5rem;
    line-height: 1rem;
    padding: 1rem 1rem 0 1rem;
	text-align:center;
}
.karta-header h3 {
    margin: 0;
}

.karta-body {

    padding: 1rem;
		text-align:center;
		margin-top: 20vh;
}

.karta-footer {
    position: absolute;
    bottom: 0;
		margin-bottom: 1rem;
    width: 100%;
    height: 1rem;
    font-size: 0.9rem;
    text-align: center;
    padding-bottom: 1rem;
    color: var(--farbaD);
}


.footer.footer-nav {
	position: fixed;
	z-index: 99999;
	bottom: 0;
	display: none;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 12px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.show, .footer-nav:hover {
	display: block;
}